<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AoC</title>
    <link rel="stylesheet" href="../../static/bulma.min.css">

    <style>
      body {
        font-variant-numeric: tabular-nums;
      }
    </style>

  </head>
  <body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="../../../">
      <h1 class="title">AoC</h1>
    </a>
  </div>
</nav>

  <section class="section">
    <div class="container">

        <div class="tabs is-boxed">
          <ul>
            {% for year in reversed_years %}
            <li {% if year == current_year %}class="is-active"{% endif %}>
              <a href="../../{{ year }}/">
                <span>{{ year }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="tabs is-boxed">
          <ul>
            <li>
              <a href="../">
                <span>Summary</span>
              </a>
            </li>
            {% for day in days %}
            <li {% if day == current_day %}class="is-active"{% endif %}>
              <a href="../{{ day }}/">
                <span>{{ day }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>

<br/>
<h2 class="subtitle">Second star</h2>

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    {% for row in second_star_data %}
    <tr>
      <td>{{ row['date_time_eastern_time_zone'] }}</td>
      <td><a href="../../user/{{ row['user_id'] }}/">{{ row['user_name'] }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br/>
<h2 class="subtitle">First star</h2>

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    {% for row in first_star_data %}
    <tr>
      <td>{{ row['date_time_eastern_time_zone'] }}</td>
      <td><a href="../../user/{{ row['user_id'] }}/">{{ row['user_name'] }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


    </div>
  </section>
  </body>
</html>
