<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AoC</title>
    <link rel="stylesheet" href="../../static/bulma.min.css">

    <style>
      body {
        font-variant-numeric: tabular-nums;
      }

      .star {
        font-family: monospace;
        font-size: 1.5em;
        line-height: 10px !important;
      }

      .star_0 {
        color: #E5E5E5;
      }

      .star_1 {
        color: #A0A0A0;
      }

      .star_2 {
        color: #FFD700;
      }
    </style>

  </head>
  <body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="../../">
      <h1 class="title">AoC</h1>
    </a>
  </div>
</nav>

  <section class="section">
    <div class="container">

        <div class="tabs is-boxed">
          <ul>
            {% for year in reversed_years %}
            <li {% if year == current_year %}class="is-active"{% endif %}>
              <a href="../../{{ year }}/stats/">
                <span>{{ year }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="tabs is-boxed">
          <ul>
            <li>
              <a href="../">
                <span>Summary</span>
              </a>
            </li>
            {% for day in days %}
            <li {% if day == current_day %}class="is-active"{% endif %}>
              <a href="../{{ day }}/">
                <span>{{ day }}</span>
              </a>
            </li>
            {% endfor %}
            <li class="is-active">
              <a href="../stats/">
                <span>Stats</span>
              </a>
            </li>
          </ul>
        </div>

<p>
Global stats: <a href="https://adventofcode.com/{{ current_year }}/stats">https://adventofcode.com/{{ current_year }}/stats</a>
</p>
<br/>

<p>
{% if stats_data.users_in_one_star == 1 %}
One star represent one user.
{% else %}
One star represent up to {{ stats_data.users_in_one_star }} users.
{% endif %}
</p>
<br/>

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Day</th>
      <th>Both stars</th>
      <th>Only first star</th>
      <th>Stars</th>
    </tr>
  </thead>
  <tbody>
  {% for i in range(25, 0, -1) %}
    <tr>
    {% if i in stats_data %}
      <td class="has-text-right"><a href="../{{ i }}/">{{ i }}</a></td>
      <td class="has-text-right">{{ stats_data[i]['gold'] }}</td>
      <td class="has-text-right">{{ stats_data[i]['silver'] }}</td>
      <td>
      {% for i in range(1, stats_data[i]['gold_for_graph'] + 1) %}
      <span class="star star_2">*</span>
      {% endfor %} 
      {% for i in range(1, stats_data[i]['silver_for_graph'] + 1) %}
      <span class="star star_1">*</span>
      {% endfor %} 
      </td>
    {% else %}
      <td class="has-text-right">{{ i }}</td>
      <td class="has-text-right"></td>
      <td class="has-text-right"></td>
      <td></td>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

    </div>
  </section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>Version: dev</p>
    <p><a href="https://github.com/bessarabov/visualize_advent_of_code_private_leaderboard">GitHub</a></p>
  </div>
</footer>

  </body>
</html>
