<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AoC</title>
    <link rel="stylesheet" href="../../static/bulma.min.css">

    <style>
      body {
        font-variant-numeric: tabular-nums;
      }
    </style>

  </head>
  <body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="../../">
      <h1 class="title">AoC</h1>
    </a>
  </div>
</nav>

  <section class="section">
    <div class="container">

      <h2 class="subtitle">{{ user_name }} ({{ user_id }})</h2>

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Year</th>
      <th>Stars</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for row in user_year_data %}
    <tr>
      <td><a href="../../{{ row['year'] }}">{{ row['year'] }}</a></td>
      <td>{{ row['stars'] }}</td>
      <td>{{ row['score'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Year</th>
      <th>Day</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    {% for row in user_task_data %}
    <tr>
      <td>{{ row['date_time_eastern_time_zone'] }}</td>
      <td><a href="../../{{ row['year'] }}">{{ row['year'] }}</a></td>
      <td>{{ row['day'] }}</td>
      <td>{{ row['task'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div>
  </section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>Version: dev</p>
    <p><a href="https://github.com/bessarabov/visualize_advent_of_code_private_leaderboard">GitHub</a></p>
  </div>
</footer>

  </body>
</html>
